.section-table {
	width: 100%;
}

#table_paginate {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.paginate_button.page-item.next a,
.paginate_button.page-item.previous a {
	margin: 0;
	padding: 0;
}

.paginate_button.page-item a {
	background-color: white;
	color: #2e5f46;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.paginate_button.page-item a:hover {
	background-color: #2e5f46;
	color: white;
}

.paginate_button.page-item.active a {
	background-color: #2e5f46;
	color: white;
}

ul.pagination {
	border: none;
}

a.page-link:not(:has(button)) {
	border-radius: 10%;
}
td {
	font-family: 'Montserrat-Regular', sans-serif;
	font-size: smaller;
	text-align: left;
	letter-spacing: 0px;
	color: #7b7b7b;
	opacity: 1;
}

.pagination li:not(:last-child) {
	margin-right: 5px !important;
}
