# Composer
/vendor/
/composer.phar
/composer.lock
/composer.json

# IDE-specific files
/.vscode/
/.idea/

# Application-specific files
/.env
/.env.local
/phpunit.xml

# Logs
/log/

# User-specific files
/.phpunit.result.cache
/php-cs-fixer.php.cache

# Ignore configuration files that may contain sensitive information
/.phpstorm.meta.php

# Laravel specific
/bootstrap/
/storage/

# Symfony specific
/var/

# User-specific files
/.phpunit.result.cache
