* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

div {
	text-align: center;
	padding-bottom: 10px;
}

body {
	background-image: url('../resource/img/Fondo-grafica.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	display: flex !important;
	justify-content: end !important;
	margin: 10px !important;
	padding: 10px !important;
}

nav a img {
	padding: 5px;
	margin: 5px;
}

@media (max-width: 750px) {
	.small {
		display: none;
	}
	.contain-table {
		width: 100% !important;
	}
	nav {
		justify-content: center !important;
		margin: 5px;
		padding: 5px;
	}

	nav a img {
		padding: 2px;
		margin: 2px;
	}
}

#logo {
	text-align: center;
}

.hidden {
	display: none !important;
}

.text-pretty {
	text-wrap: wrap !important;
}
