h1 {
	font-family: 'Montserrat Black', sans-serif;
	font-weight: 800;
	color: var(--unnamed-color-3d6447);
	text-align: left;
	letter-spacing: 1.85px;
	color: #3d6447;
	opacity: 1;
	font-size: x-large;
}

h2 {
	font-family: 'Montserrat-Medium', sans-serif;
	font-weight: 700;
	text-align: left;
	letter-spacing: 0px;
	color: #39475b;
	opacity: 1;
	font-size: x-large;
}

.title-header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

p {
	font-family: 'Montserrat-Regular', sans-serif;
	text-align: left;
	letter-spacing: 0px;
	color: #7b7b7b;
	opacity: 1;
}

select,
option {
	font-family: 'Montserrat-Extralight', sans-serif;
	text-align: left;
	font: normal normal 200 14px/22px Montserrat;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
}

label {
	font-family: 'Montserrat-Regular', sans-serif;
	color: var(--unnamed-color-707070);
	text-align: left;
	font: normal normal normal 16px/22px Montserrat;
	letter-spacing: 0px;
	color: #707070;
	opacity: 1;
}

.form-select option:hover {
	background-color: #a3cf62;
}

#container-form-ABM {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100vh;
}

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	border: 0 !important;
}
