/* Reset general */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	margin: 25px;
	padding-left: 10px;
	min-height: 100vh;
	display: flexbox;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	padding: 10px;
}

/* Fondo de pantalla */
.svg-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../resource/img/Fondo-grafica.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
}
/* 
// Contenedor principal
.contenedor {
	width: 50%;
	height: 100vh;
	padding: 10px;
	position: relative;
}

/* Alineación de secciones y márgenes */
section,
main {
	margin-right: 30px;
	margin-bottom: 30px;
}

#Section-form {
	position: relative;
	padding: 10px;
	max-width: 30%;
	background-color: white;
	border-radius: 1em;
}
#Section-form .main-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 5px 25px rgba(36, 35, 35, 0.1);
	background-color: white;
}

.custom-container {
	display: flex;
	flex-direction: column;
}

.custom-container .text-center {
	padding: 10px;
}
main form {
	margin: 0;
	width: 100%;
}
.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
#submit {
	max-width: 50%;
}

/* Estilos para los selects */
select {
	font-family: 'Montserrat Light';
	font-size: 14px;
	letter-spacing: 0px;
	padding: 5px;
	text-align: left;
	box-shadow: inset;
	width: 100%;
	background: #ffffff;
	border-radius: 5px;
	opacity: 1;
}

/* Títulos y texto */
.title-header {
	text-align: left;
	font-size: 18px;
	letter-spacing: 0px;
	color: #39475b;
}

.text {
	padding: 10px;
	text-align: left;
	font-size: 13px;
	letter-spacing: 0px;
}

h1 {
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 1.85px;
	padding: 10px;
}

h2 {
	padding-left: 10px;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 0px;
}

p {
	font-size: 13px;
	letter-spacing: 0px;
}

/* Estilos para el botón */
button {
	border-radius: 20px;
	padding: 10px;
	width: 100%; /* Ancho del 100% del contenedor */
	text-align: center;
	letter-spacing: 0px;
	color: #ffffff;
	background: #acc95b;
	box-shadow: 0px 5px 20px #2d2d2e33;
	opacity: 1;
	cursor: pointer;
	margin-left: auto;
}

/* Alineación de etiquetas de formulario */
form label {
	display: block;
	margin-bottom: 5px;
}

/* Estilos para el contenedor de carga */
.charge {
	width: 50%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

/* Estilos para las imágenes dentro del contenedor */
.charge .svg-item {
	display: flex;
	width: 32px; /* Ajusta el ancho según tus preferencias */
	height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
	margin: 5px; /* Espacio entre las imágenes */
	opacity: 0;
	transition: opacity 0.5s ease; /* Agregar transición para la propiedad de opacidad */
}

/* Efecto para mostrar las imágenes */
.charge .svg-item.loaded {
	opacity: 1;
}

/* Clase personalizada para el color del botón */
.btn-custom {
	background-color: #acc95b !important;
	border-color: #acc95b !important;
	color: #ffffff !important;
	display: block;
	margin-top: 32px;
}

.ocultar {
	display: none;
}

.contain-table {
	background: #ffffff 0% 0% no-repeat padding-box;
	border-radius: 16px;
	opacity: 1;
}

.glosario-section {
	display: flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
