section {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

main {
	min-width: 600px;
	max-width: 50%;
}

table {
	max-width: 100%;
	word-wrap: break-word;
}

#buttonClose {
	width: 100px;
}
